@using MVC.Services.Retail.Vo;
@{
    Layout = null;
}
<div class="right">
    <div class="table">
        <table width="100%" align="left" border="0" cellspacing="1" cellpadding="2" >
            @if (ViewData["result"] != null)
            {
                RetailOrderQueryDetailsVo item = ViewData["result"] as RetailOrderQueryDetailsVo;
                <tr>
                    <td class="fontStyle" align="left">零售订单:</td>
                    <td align="left">@item.OrderNo</td>
                    <td align="left" class="fontStyle">登记日期:</td>
                    <td align="left">@item.CreateDate</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">车辆代码:</td>
                    <td align="left">@item.Model</td>
                    <td align="left" class="fontStyle">颜色代码:</td>
                    <td align="left">@item.Color</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">车型年:</td>
                    <td align="left">@item.ModelYear</td>
                    <td align="left" class="fontStyle">版本号:</td>
                    <td align="left">@item.ModelVersion</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">内饰:</td>
                    <td align="left">@item.Interior</td>
                    <td align="left" class="fontStyle">选装包:</td>
                    <td align="left">@item.PrList</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">零售时间:</td>
                    <td align="left">@item.RetailDateTime</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">VIN码:</td>
                    <td align="left">@item.Vin</td>
                    <td align="left" class="fontStyle">发动机号:</td>
                    <td align="left">@item.EngineNo</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">入库日期:</td>
                    <td align="left">@item.VehicleInStockDate</td>
                    <td align="left" class="fontStyle">出库日期:</td>
                    <td align="left">@item.VehicleOutStockDate</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">发票类型:</td>
                    <td align="left">@item.InvoiceType</td>
                    <td align="left" class="fontStyle">发票号码:</td>
                    <td align="left">@item.InvoiceNo</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">用户名称:</td>
                    <td align="left">@item.CustomerName</td>
                    <td align="left" class="fontStyle">联系地址:</td>
                    <td align="left">@item.Address</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">性别:</td>
                    <td align="left">@item.Gender</td>
                    <td align="left" class="fontStyle">县代码:</td>
                    <td align="left"></td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">客户类别:</td>
                    <td align="left">@item.CustomerType</td>
                    <td align="left" class="fontStyle">车辆用途:</td>
                    <td align="left">@item.VehiclePurpose</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">证件类型:</td>
                    <td align="left">@item.CertificateType</td>
                    <td align="left" class="fontStyle">证件号码:</td>
                    <td align="left">@item.CertificateNo</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">电话号码:</td>
                    <td align="left">@item.Telephone</td>
                    <td align="left" class="fontStyle">手机号码:</td>
                    <td align="left">@item.Mobile</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">电子邮件:</td>
                    <td align="left">@item.Email</td>
                    <td align="left" class="fontStyle">联系人:</td>
                    <td align="left">@item.Contact</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">邮政编码:</td>
                    <td align="left">@item.ZipCode</td>
                    <td align="left" class="fontStyle">职务:</td>
                    <td align="left">@item.Duty</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">公司性质:</td>
                    <td align="left">@item.CompanyProperty</td>
                    <td align="left" class="fontStyle">从事行业:</td>
                    <td align="left">@item.CompanyIndustry</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">销售类型:</td>
                    <td align="left">@item.SalesType</td>
                    <td align="left" class="fontStyle">转卖客户:</td>
                    <td align="left">@item.ResellDealer</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">零售单价:</td>
                    <td align="left">@item.Price</td>
                    <td align="left" class="fontStyle">零售数量:</td>
                    <td align="left">@item.Quantity</td>
                </tr>
                <tr>
                    <td class="fontStyle">销售员:</td>
                    <td align="left">@item.SalesPerson</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">销售出库日期:</td>
                    <td align="left">@item.OutStockDate</td>
                    <td align="left" class="fontStyle">发票日期:</td>
                    <td align="left">@item.InvoiceDate</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">备注:</td>
                    <td align="left" colspan=3>@item.Remark</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">是否使用积分:</td>
                    <td align="left">@item.UsePoint</td>
                    <td align="left" class="fontStyle">积分金额:</td>
                    <td align="left">@item.PointAmount</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">POS流水号:</td>
                    <td align="left">@item.PosFlowNo</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">奖品:</td>
                    <td align="left">@item.Prize</td>
                    <td align="left" class="fontStyle">是否装配原装附件包:</td>
                    <td align="left">@item.Accessory</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">是否加入会员俱乐部:</td>
                    <td align="left">@item.Club</td>
                    <td align="left" class="fontStyle">三包车辆:</td>
                    <td align="left">@item.ThreeGuarantees</td>
                </tr>
                <!--<tr>
                    <td class="fontStyle">省代码: </td>
                    <td align="left"><font face="宋体" size="2">-</font></td>
                    <td class="fontStyle">区代码: </td>
                    <td align="left"><font face="宋体" size="2">-</font></td>
                </tr>-->
                <tr>
                    <td align="left" class="fontStyle">车牌备注:</td>
                    <td align="left">@item.LicenseRemark</td>
                    <td align="left" class="fontStyle">网外二网名称: </td>
                    <td align="left">@item.OutSource</td>
                </tr>
                <tr>
                    <td align="left" class="fontStyle">车牌号码:</td>
                    <td align="left">@item.LicenseNo</td>
                </tr>
            }
        </table>
    </div>
</div>